{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h2 class="mb-4">Bienvenue {{ user.username }} !</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card text-bg-light shadow-sm mb-3">
            <div class="card-body">
                <h5 class="card-title">Total événements</h5>
                <p class="card-text fs-3">{{ user.evenements.count }}</p>
                <a href="{% url 'evenement_list' %}" class="btn btn-outline-primary">Voir les événements</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
